@import "tailwindcss";

@import "tailwindcss";

:root {
  --ui-bg: #ffff;
  --ui-primary: #8338ec;
  --ui-primaryHover: #a78bfa;
  --ui-text-dark: #212529;
  --ui-text-light: #343a40;
  --ui-border-gray: #dee2e6;
  --ui-status-start: #f7bc30;
  --ui-status-progress: #fb5607;
  --ui-status-test: #ff006e;
  --ui-status-finish: #3a86ff;
  --ui-depart-design: #ff66a8;
  --ui-depart-infTech: #ffd86d;
  --ui-depart-lojistics: #89b6ff;
  --ui-depart-marketing: #fd9a6a;
  --ui-priority-top: #fa4d4d;
  --ui-priority-middle: #ffbe0b;
  --ui-priority-low: #08a508;
}

:root[data-theme="dark"] {
  --ui-bg: #0f1115;
  --ui-primary: #a78bfa;
  --ui-primaryHover: #8338ec;
  --ui-text-dark: #f1f3f5;
  --ui-text-light: #cfd4da;
  --ui-border-gray: #2a2f36;
  --ui-status-start: #f7bc30;
  --ui-status-progress: #fb5607;
  --ui-status-test: #ff006e;
  --ui-status-finish: #3a86ff;
  --ui-depart-design: #ff66a8;
  --ui-depart-infTech: #ffd86d;
  --ui-depart-lojistics: #89b6ff;
  --ui-depart-marketing: #fd9a6a;
  --ui-priority-top: #fa4d4d;
  --ui-priority-middle: #ffbe0b;
  --ui-priority-low: #08a508;
}

@theme inline {
  --color-bg: var(--ui-bg);
  --color-primary: var(--ui-primary);
  --color-primaryHover: var(--ui-primaryHover);
  --color-text-dark: var(--ui-text-dark);
  --color-text-light: var(--ui-text-light);
  --color-border-gray: var(--ui-border-gray);
  --color-status-start: var(--ui-status-start);
  --color-status-progress: var(--ui-status-progress);
  --color-status-test: var(--ui-status-test);
  --color-status-finish: var(--ui-status-finish);
  --color-depart-design: var(--ui-depart-design);
  --color-depart-infTech: var(--ui-depart-infTech);
  --color-depart-lojistics: var(--ui-depart-lojistics);
  --color-depart-marketing: var(--ui-depart-marketing);
  --color-priority-top: var(--ui-priority-top);
  --color-priority-middle: var(--ui-priority-middle);
  --color-priority-low: var(--ui-priority-low);
}
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lmd: 850px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px;
}
body {
  background-color: var(--color-bg);
}

@layer components {
  .btn {
    @apply bg-(--color-primary) text-white py-2 px-4 rounded-md cursor-pointer;
  }
  .state {
    @apply max-w-85.25 h-13.5;
  }
}
